body {
	margin:0;
	border:0;
	padding:0;
}
.header {
	background-color:black;
	color:white;
	text-align:center;
	height:12vh;
	line-height:12vh;
	vertical-align:middle;
}
.side {
	vertical-align:top;
	width:250px;
	background-color:#cccccc;
	color:#00001F;
	display:inline-block;
	height:76vh;
	text-align:center;
}
.main {
	vertical-align:top;
	display:inline-block;
	background-color:white;
	color:black;
}
.footer {
	background-color:yellow;
	color:black;
	text-align:center;
	height:8vh;
	line-height:8vh;
	vertical-align:middle;
}
.menu{
	list-style-type:none;
	text-align:center;
}
.menu > li > a {
	text-decoration:none;
	height:30px;
	line-height:30px;
	color:white;
	background-color:#00009F;
	padding:5px;
	text-align:center;
	vertical-align:middle;
	border:2px solid white;
	display:block;
}
.menu > li > a:link {
	color:white;
}
.menu > li > a:visited {
	color:yellow;
}
.menu > li > a:hover {
	background-color:#0000ff;
	color:#888888;
}
.menu > li > a:active {
	background-color:#0000ff;
	color:red;
}
.submenu {
	display:none;
	list-style-type:none;
	text-align:center;
}
.submenu > li > a {
	text-decoration:none;
	height:30px;
	line-height:30px;
	background-color:#6f6fff;
	color:white;
	padding:5px;
	text-align:center;
	vertical-align:middle;
	border:2px solid white;
	display:block;
}
.submenu > li > a:link {
	color:white;
}
.submenu > li > a:visited {
	color:yellow;
}
.submenu > li > a:hover {
	background-color:#0000ff;
	color:#888888;
}
.submenu > li > a:active {
	background-color:#0000ff;
	color:red;
}